<div class="sidebar">
  <a class="active" href="#home">Home</a>
  <%= link_to "Products", admin_products_path %>
  <%= link_to "Categories", admin_categories_path %>
  <%= link_to "Properties", admin_properties_path %>
  <a href="#about">About</a>
</div>
